/* основной чвет текста #212121 */

/* вторичный цвет текста #757575 */

/* белый #FFFFFF */

/* черный #000000 */

/* акцент #2196F3 */

/* разделитель #ECECEC */

/* вторичный белый цвет фона #F5F4FA */

/* вторичный черный цвет фона #2F303A */

:root {
    --primary-text-color: #757575;
    --titlee-text-color: #212121;
    --accent-color: #2196F3;
}


body {
    background-color: #E5E5E5;
    color: var(--titlee-text-color);
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
}

ul {
    list-style: none;
}

.invisible {
    display: none;
}

/* WebStudio */

.logo {
    color: var(--accent-color);
    font-family: Raleway, cursive;

    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
}
.logo-title {
    color: var(--titlee-text-color)
}

/* Menu Nav */

button {
    font-family: inherit;
    cursor: pointer;
}
/* Header */
.top-line {
    background-color: #FFFFFF;
}

.menu-nav .link {
    color: var(--titlee-text-color);

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.menu-nav .link:hover,
.menu-nav .link:focus {
    color: var(--accent-color);
}

.menu-nav .link.current {
    color: var(--accent-color);
}

/* Contact-header */

.contact-header .link {
    color: var(--primary-text-color);

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
} 

.contact-header .link:hover,
.contact-header .link:focus {
    color: var(--accent-color);
}

/* Header */

.section-header {
   background-color: #2F303A;    
}

.header {
    color: #FFFFFF;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-align: center;
    text-transform: uppercase;
}

/* Button */
.button {
    color: #FFFFFF;
    background-color: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
}

/* Features */

.featur-list .title {
    color: var(--titlee-text-color);

    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.featur-list .text {
    color: var(--primary-text-color);

    font-size: 14px;
    line-height: 1.71;
}

/* Section */

.section-peculiarities {

}

.section-examples {

}

.section-person {
    background-color: #F5F4FA;
}

.section-title {
    color: var(--titlee-text-color);

    font-size: 36px;
    line-height: 42px;
    text-align: center;
}

.person-list .title {
    color: var(--titlee-text-color);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;   
}

.person-list .text {
    color: var(--primary-text-color);

    font-size: 16px;
    line-height: 1.19;
}

/* Footer */

.footer {
    background-color: #2F303A;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.footer .logo-title{
color: #FFFFFF;
font-size: 26px;
line-height: 1.19;
}

.contacts {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none
}

.link-address {  
    color: #FFFFFF;
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none
}

.footer .link {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}

.footer .link:hover,
.footer .link:focus {
    color: var(--accent-color);
}

/* Portfolio styles */
/* Filter */

.nav .link:hover,
.nav .link:focus {
    color: #FFFFFF;
    background-color: var(--accent-color);
}
    
.nav .link {
    color: var(--titlee-text-color);
    background-color: #F5F4FA;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
}

/* Group */

.group{
    background-color: #FFFFFF;
}

.projects .title {
    color: var(--titlee-text-color);
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.projects .text {
    color: var(--primary-text-color);
    font-size: 16px;
    line-height: 1.88;
}